
<div class="card text-center">
  <div class="card-header">
    Показано 10 вопросов из 800
  </div>
    <div class="card-body">
       <h5 class="card-title fs-3">Подпишись, чтобы увидеть все вопросы</h5>
         <p>Поддержите проект донатом на boosty или бесплатно подпиской на telegram</p>
       <a href="#" class="btn btn-secondary me-2" style="background-color: #f4916e; border-color: #f4916e">Boosty (200 руб.)</a>
           или
       <a href="#" class="btn btn-primary ms-2" style="background-color: #28a9eb; border-color: #28a9eb"><i class="bi bi-telegram me-2"></i>Telegram (бесплатно)</a>
    </div>
</div>
