{% extends 'base.html' %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}

    <h1 class="pt-5">Публичные собеседования</h1>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <form action="" method="get">
                    <div class="form-group mt-3">
                        <select class="form-control" id="profession_select" name="profession">
                            {% for prof in profs %}
                            <option for="profession_select" value="{{ prof.id }}">{{ prof.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="radio" name="grade" id="exampleRadios1" value="Не указан" checked>
                        <label class="form-check-label" for="exampleRadios1">
                          Не указан
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="grade" id="exampleRadios2" value="Trainee">
                        <label class="form-check-label" for="exampleRadios2">
                          Trainee
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="grade" id="exampleRadios3" value="Junior">
                        <label class="form-check-label" for="exampleRadios3">
                          Junior
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="grade" id="exampleRadios4" value="Middle">
                        <label class="form-check-label" for="exampleRadios4">
                          Middle
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="grade" id="exampleRadios5" value="Senior">
                        <label class="form-check-label" for="exampleRadios5">
                          Senior
                        </label>
                    </div>
                    <button class="btn btn-primary mt-3" type="submit">Применить</button>
                </form>

                </fieldset>
                <div class="card border-primary mt-5">
                  <div class="card-body">
                    <h5 class="card-title">EasyOffer C# Chat</h5>
                    <p class="card-text">Вступай в чат нашего сообщества по Java в телеграмме</p>
                    <a href="#" class="btn btn-primary">Перейти </a>
                  </div>
                </div>
            </div>
            <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Название</th>
                      <th scope="col">Должность</th>
                      <th scope="col">Грейд</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                  {% for mock in mocks %}
                    <tr>
                      <td><a href="{{ mock.url }}" target="_blank" class="link-offset-2 link-offset-3-hover link-underline
            link-underline-opacity-0 link-underline-opacity-75-hover">{{ mock.title }}</a></td>
                      <td>{{ mock.profession }}</td>
                      <td>{{ mock.grade }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
        </div>
    </div>

{% endblock %}