{% extends 'base.html' %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}

    <h1 class="pt-5">Публичные собеседования</h1>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <form action="" method="get">
                    {{ mock_filter }}
                    <button class="btn btn-light" type="submit">Получить</button>
                </form>
                </fieldset>
                <div class="card border-primary mt-3">
                  <div class="card-body">
                    <h5 class="card-title">EasyOffer C# Chat</h5>
                    <p class="card-text">Вступай в чат нашего сообщества по Java в телеграмме</p>
                    <a href="#" class="btn btn-primary">Перейти </a>
                  </div>
                </div>
            </div>
            <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Название</th>
                      <th scope="col">Должность</th>
                      <th scope="col">Грейд</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                  {% for mock in mocks %}
                    <tr>
                      <td><a href="{{ mock.url }}" target="_blank" class="link-offset-2 link-offset-3-hover link-underline
            link-underline-opacity-0 link-underline-opacity-75-hover">{{ mock.title }}</a></td>
                      <td>{{ mock.profession }}</td>
                      <td>{{ mock.grade }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
        </div>
    </div>

{% endblock %}