{% extends 'base.html' %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}

    <h1 class="pt-5">Публичные собеседования</h1>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-3">
                <h5 class="mt-3">Направление:</h5>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                  <option selected>Все</option>
                  <option value="1">Python Developer</option>
                </select>
                <fieldset>
                    <h5 class="mt-3">Грейд:</h5>
                    <div>
                      <input type="checkbox" id="scales" name="scales" checked>
                      <label for="scales"><small>Карьерная консультация</small></label>
                    </div>
                </fieldset>
            </div>
            <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Название</th>
                      <th scope="col">Должность</th>
                      <th scope="col">Грейд</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                  {% for mock in mocks %}
                    <tr>
                      <td><a href="{{ mock.url }}" target="_blank" class="link-offset-2 link-offset-3-hover link-underline
            link-underline-opacity-0 link-underline-opacity-75-hover">{{ mock.title }}</a></td>
                      <td>{{ mock.profession }}</td>
                      <td>{{ mock.grades }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
        </div>
    </div>

{% endblock %}