{% extends 'base.html' %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}

    <h1 class="mt-5 fs-3"> Вопросы с собеседований на {{ prof_data.title }}</h1>
    <p class="fs-5 mt-3 align-middle fs-6"> Шанс встретить вопрос на основе {{ prof_data.votes }} проголосовавших.
        Вы можете
        <a href="{{ prof_data.get_url_quiz }}">Поучаствовать в опросе</a>
        а также
        <a type="button" class="link" data-bs-toggle="modal" data-bs-target="#exampleModal"> Добавить вопрос </a>
    </p>
    <div class="row align-items-start mt-5">
            <div class="col-2">
                <p class="mt-2">Сортировка:</p>
                <form action="">
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="Все" name="tag" value="Все">
                      <label class="form-check-label" for="Все">Все</label>
                    </div>
                    {% for tag in prof_data.tags.all %}
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="{{ tag }}" name="tag" value="{{ tag }}">
                      <label class="form-check-label" for="{{ tag }}">{{ tag }}</label>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-sm btn-primary mt-3">Сортировать</button>
                </form>
            </div>
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Шанс</th>
                            <th>Вопрос</th>
                            <th>Тег</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rating in ratings %}
                        <tr>
                            {% if rating.chance >= 10 %}
                            <td align="center" class="fw-bold text-success">{{ rating.chance }}%</td>
                            {% else %}
                            <td align="center" class="fw-bold text-warning">{{ rating.chance }}%</td>
                            {% endif %}
                            <td><a href="{{ rating.question.get_url }}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ rating.question.title }}</a></td>
                            <td>{{ rating.question.tag }}</td>
                        </tr>
                        {% endfor  %}
                    </tbody>
                </table>
            </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Добавление вопроса</h5>
            <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
              <span  aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                      <div class="mb-3">
                        <label for="{{ form.title.id_for_label }}" class="col-form-label">{{ form.title.label }}</label>
                        {{ form.title }}
                      </div>
                      <div class="mb-3">
                        <label for="{{ form.tag.id_for_label }}" class="col-form-label">{{ form.tag.label }}</label>
                        {{ form.tag }}
                      </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-warning">Добавить вопрос </button>
                    </div>
                </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}