{% extends 'base.html' %}

{% block title %}
{{ question_data.title }}
{% endblock %}

{% block content %}

    <h1 class="mt-5 mb-5">{{ question_data.title }}</h1>
    <div class="row">
        <div class="col-3">
        <h2 class="mb-3 fs-4" >Примеры ответов:</h2>

        <ul class="list-group list-group-flush mb-3">
            {% for link in video_links %}
                <li class="list-group-item"><small><a href="{{ link.url }}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank">
                    <i class="bi bi-youtube me-1"></i>{{ link.title }}</a></small></li>
            {% endfor %}
        </ul>

        <button type="button" class="btn btn-light btn-sm " data-bs-toggle="modal" data-bs-target="#VideoAnswerModal">
          <i class="bi bi-plus-lg me-1"></i> Добавить ответ из mock-собесов
        </button>

        <h2 class="mb-3 mt-5 fs-4">Дополнительные материалы</h2>

        <ul class="list-group list-group-flush mb-3">
            {% for link in extra_links %}
                <li class="list-group-item"><small><a href="{{ link.url}}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank">
                    {{ link.title }}</a></small></li>
            {% endfor %}
        </ul>

        <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#ExtraContentModal">
          <i class="bi bi-plus-lg me-1"></i> Добавить ссылку на доп. матераил
        </button>
        </div>
        <div class="col">
            {% for answer in answers %}
            <div class="row">
                <div class="col-1">
                    <div class="center-block align-rig">
                        <div class="text-center fs-4"><i class="bi bi-caret-up"></i></div>
                        <div class="text-center fs-6">{{ answer.rating }}</div>
                        <div class="text-center fs-4"><i class="bi bi-caret-down"></i></div>
                    </div>
                </div>
                <div class="card mb-3 col" >
                    <div class="card-body">
                        <p class="card-text">{{ answer.text }}</p>
                        <p class="card-text"><small class="text-muted">{{ answer.created_at }}, {{ answer.author }}</small></p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <h2 class="mb-3 fs-4" >Добавить ответ</h2>

            <div class="form-error">{{ comment_form.non_field_errors }}</div>
            <form action="" method="POST">
                {% csrf_token %}
                    <label class="form-text" for="{{ comment_form.text.id_for_label }}">
                        {{ comment_form.text.label }}:
                    </label> {{ comment_form.text }}
                <p>
                    <label class="form-label" for="{{ comment_form.author.id_for_label }}">
                        {{ comment_form.author.label }}:
                    </label> {{ comment_form.author }}
                </p>
                <button class="btn btn-light" type="submit"><i class="bi bi-plus-lg me-2"></i>Добавить ответ</button>
            </form>
        </div>
    </div>



    <!-- ExtraContentModal -->
    <div class="modal fade" id="ExtraContentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить ссылку на доп. матераил</h1>
          </div>
          <div class="modal-body">
               <form action="" method="POST">
                    {% csrf_token %}
                      <div class="mb-3">
                        <label for="{{ extra_content_form.title.id_for_label }}" class="col-form-label">{{ extra_content_form.title.label }}</label>
                        {{ extra_content_form.title }}
                      </div>
                      <div class="mb-3">
                        <label for="{{ extra_content_form.url.id_for_label }}" class="col-form-label">{{ extra_content_form.url.label }}</label>
                        {{ extra_content_form.url }}
                      </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-warning">Добавить ссылку </button>
                    </div>
                </form>
          </div>
        </div>
      </div>
    </div>

    <!-- VideoAnswerModal -->
    <div class="modal fade" id="VideoAnswerModal" tabindex="-1" aria-labelledby="VideoAnswerModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="VideoAnswerModalLabel">Добавить ответ из mock-собесов</h1>
          </div>
          <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                      <div class="mb-3">
                        <label for="{{ video_answer_form.title.id_for_label }}" class="col-form-label">{{ video_answer_form.title.label }}</label>
                        {{ video_answer_form.title }}
                      </div>
                      <div class="mb-3">
                        <label for="{{ video_answer_form.url.id_for_label }}" class="col-form-label">{{ video_answer_form.url.label }}</label>
                        {{ video_answer_form.url }}
                      </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-warning">Добавить ответ в видео </button>
                    </div>
                </form>
          </div>
        </div>
      </div>
    </div>


{% endblock %}