{% extends 'base.html' %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}

    <h1 class="mt-5 fs-3"> Вопросы с собеседований на {{ prof_data.title }}</h1>
    {% if prof_data.votes_access %}
    <p class="fs-5 mt-3 mb-5 fs-6">Вопросов всего: {{ ratings.count }}. Проголосовавших: {{ prof_data.votes }}.
        Вы можете
        <a href="{{ prof_data.get_url_quiz }}">Поучаствовать в опросе</a>
        а также
        <a type="button" class="link" data-bs-toggle="modal" data-bs-target="#exampleModal"> Добавить вопрос </a>
    </p>
    {% else %}
    <p class="fs-5 mt-3 mb-5 fs-6">Вопросов всего: {{ ratings.count }}. На данный момент мало вопросов,
        чтобы инициировать опрос. Вы можете
        <a type="button" class="link" data-bs-toggle="modal" data-bs-target="#exampleModal"> Добавить вопрос </a>
    </p>
    {% endif %}
    <div class="row align-items-start">
            <div class="col-2">
                <p class="">Фильтр:</p>
                <form action="">
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="Все" name="tag" value="Все">
                      <label class="form-check-label" for="Все">Все</label>
                    </div>
                    {% for tag in prof_data.tags.all %}
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="{{ tag }}" name="tag" value="{{ tag }}">
                      <label class="form-check-label" for="{{ tag }}">{{ tag }}</label>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-sm btn-primary mt-3">Выбрать</button>
                </form>
            </div>
            <div class="col">
                {% if prof_data.votes_access %}
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Шанс</th>
                            <th>Вопрос</th>
                            <th>Тег</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rating in page_obj %}
                        <tr>
                            {% if rating.chance >= 10 %}
                            <td align="center" class=" text-success">{{ rating.chance }}%</td>
                            {% else %}
                            <td align="center" class=" text-warning">{{ rating.chance }}%</td>
                            {% endif %}
                            <td><a href="{{ rating.question.get_url }}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ rating.question.title }}</a></td>
                            <td>{{ rating.question.tag }}</td>
                        </tr>
                        {% endfor  %}
                    </tbody>
                </table>
                {% else %}
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Вопрос</th>
                            <th>Тег</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rating in page_obj %}
                        <tr>
                            <td><a href="{{ rating.question.get_url }}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ rating.question.title }}</a></td>
                            <td>{{ rating.question.tag }}</td>
                        </tr>
                        {% endfor  %}
                    </tbody>
                </table>
                {% endif %}
                {% if ratings.count > 100 %}
                <nav>
                  <ul class="pagination pagination-sm">
                      {% for p in page_obj.paginator.page_range %}
                      {% if page_obj.number == p %}
                      <li class="page-item active" aria-current="page">
                      <span class="page-link">{{ p }}</span>
                      </li>
                      {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                      {% endif %}
                      {% endfor %}
                  </ul>
                </nav>
                {% endif %}
            </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Добавление вопроса</h5>
            <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
              <span  aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                           <p class="fs-5">Вы добавляете вопрос для {{ prof_data.title}}</p>
                        <label for="{{ form.title.id_for_label }}" class="col-form-label">{{ form.title.label }}</label>
                        {{ form.title }}
                      </div>
                      <div class="mb-3">
                        <label for="{{ form.tag.id_for_label }}" class="col-form-label">{{ form.tag.label }}</label>
                        {{ form.tag }}
                      </div>
                      <div class="mb-3">
                        <label for="{{ form.tag.id_for_label }}" class="col-form-label">{{ form.rating.label }}</label>
                        {{ form.rating }}
                      </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Добавить вопрос </button>
                    </div>
                </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}