{% extends 'base.html' %}

{% block title %}
{{ question_data.title }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <h1 class="mt-5 mb-5 fs-3">{{ question_data.title }}</h1>
            {% for answer in answers %}
            <div class="row">
                <div class="card mb-3 col" >
                    <div class="card-body">
                        <p class="card-text">{{ answer.text|safe }}</p>
                        {% if answer.url %}
                        <p class="card-text"><small class="text-muted">{{ answer.created_at }}, <a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank"  href="{{ answer.url }}">{{ answer.author }}</a></small></p>
                        {% else %}
                        <p class="card-text"><small class="text-muted">{{ answer.created_at }}, {{ answer.author }}</small></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

<!--            <h2 class="mb-3 mt-5 fs-5" >Добавить ответ:</h2>-->

<!--            <div class="form-error">{{ comment_form.non_field_errors }}</div>-->
<!--            <form class="row g-3" action = "" method="post">-->
<!--                    {% csrf_token %}-->
<!--                  <div class="col-md-4">-->
<!--                    <label for="{{ comment_form.author.id_for_label }}" class="form-label">{{ comment_form.author.label }}</label>-->
<!--                     {{ comment_form.author }}-->
<!--                  </div>-->
<!--                  <div class="col-md-4">-->
<!--                    <label for="{{ comment_form.url.id_for_label }}" class="form-label">{{ comment_form.url.label }}</label>-->
<!--                    {{ comment_form.url }}-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <label for="{{ comment_form.text.id_for_label }}" class="form-label"></label>-->
<!--                    {{ comment_form.text }}-->
<!--                  </div>-->
<!--                  <div class="col-12">-->
<!--                    <button class="btn btn-primary btn-sm" type="submit">Добавить ответ</button>-->
<!--                  </div>-->
<!--            </form>-->
        </div>
        <div class="col-12 col-sm-4">
            <h2 class="mb-3 mt-5 fs-5" >Примеры ответов:</h2>
            <ul class="list-group list-group-flush mb-3">
                {% for link in video_links %}
                    <li class="list-group-item"><small><a href="{{ link.url }}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank">
                        <i class="bi bi-youtube me-1"></i>{{ link.title|truncatechars:37 }}</a></small></li>
                {% endfor %}
            </ul>
<!--            <button type="button" class="btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#VideoAnswerModal">-->
<!--              Добавить ссылку-->
<!--            </button>-->
<!--            <h2 class="mb-3 mt-5 fs-5">Доп. материалы:</h2>-->
<!--            <ul class="list-group list-group-flush mb-3">-->
<!--                {% for link in extra_links %}-->
<!--                    <li class="list-group-item"><small><a href="{{ link.url}}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank">-->
<!--                        {{ link.title }}</a></small></li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ExtraContentModal">-->
<!--              Добавить ссылку-->
<!--            </button>-->
        </div>
    </div>



    <!-- ExtraContentModal -->
    <div class="modal fade" id="ExtraContentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить ссылку на доп. матераил</h1>
          </div>
          <div class="modal-body">
               <form action="" method="POST">
                    {% csrf_token %}
                      <div class="mb-3">
                        <label for="{{ extra_content_form.title.id_for_label }}" class="col-form-label">{{ extra_content_form.title.label }}</label>
                        {{ extra_content_form.title }}
                      </div>
                      <div class="mb-3">
                        <label for="{{ extra_content_form.url.id_for_label }}" class="col-form-label">{{ extra_content_form.url.label }}</label>
                        {{ extra_content_form.url }}
                      </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
          </div>
        </div>
      </div>
    </div>

    <!-- VideoAnswerModal -->
    <div class="modal fade" id="VideoAnswerModal" tabindex="-1" aria-labelledby="VideoAnswerModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="VideoAnswerModalLabel">Добавить ответ из mock-собесов</h1>
          </div>
          <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                      <div class="mb-3">
                        <label for="{{ video_answer_form.title.id_for_label }}" class="col-form-label">{{ video_answer_form.title.label }}</label>
                        {{ video_answer_form.title }}
                      </div>
                      <div class="mb-3">
                        <label for="{{ video_answer_form.url.id_for_label }}" class="col-form-label">{{ video_answer_form.url.label }}</label>
                        {{ video_answer_form.url }}
                      </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
          </div>
        </div>
      </div>
    </div>


{% endblock %}