{% extends 'base.html' %}

{% block title %}
Опросник {{ prof_data.title }}
{% endblock %}

{% block content %}

    <h1 class="mt-5 fs-3">Какие вам встречались вопросы на должность {{ prof_data.title }} ?</h1>
    <p class="mt-3">Опросник может быть достаточно большим и отметку нужно обязательно поставить на каждый вопрос.
        Только так можно добиться релеватных данных. Пожалуйста, отмечайте "Встречался", только в том случае если вы
        реально встречали такой вопрос на собеседовани или сами его задавали кандидату. Ориентируйтесь на опыт всех своих прошлых собеседований </p>
    <p class="mt-3 mb-5">Всего вопросов: {{ ratings.count }}</p>
    <table class="table mt-5 table-bordered">
        <thead>
            <tr>
                <th>№</th>
                <th>Встречался</th>
                <th>Не встречался</th>
                <th>Вопрос</th>
            </tr>
        </thead>
        <form id="quiz" action="" method="post">
            {% csrf_token %}
        <tbody>
                {% for rating in ratings %}
                <tr>
                    <td align="center">
                        {{ forloop.counter }}
                    </td>
                    <td align="center">
                        <input type="radio" id="{{ rating.id }}" required name="{{ rating.id }}" value="Встречался">
                    </td>
                    <td align="center">
                        <input type="radio" id="{{ rating.id }}" required name="{{ rating.id }}" value="Не встречался">
                    </td>
                    <td>{{ rating.question.title }}</td>
                </tr>
                {% endfor  %}
        </tbody>
        </form>
    </table>
    <button type="submit" form="quiz" class="btn btn-primary"> Отправить </button>

{% endblock %}