.idea
idea
.DS_Store
.env.dev

*.egg-info/
.installed.cfg
*.egg

dist
db.sqlite3
sqlite.db
venv

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*
!src/*/migrations/__init__.py
src/*/migrations/*
log/debug.log

build
doc
home.rst
make.bat
Makefile

doc-dev

*.log
.log