{% extends 'base.html' %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}

    <h1 class="pt-5">  </h1>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-8">
                <div class="container p-0">
                  <div class="row">
                    <div class="col-3">
                      <img src="..." class="img-thumbnail" alt="...">
                    </div>
                    <div class="col">
                        <h2>{{ mentor.name }} {{ mentor.surname }}</h2>
                        <p>{{ mentor.profession }} |
                            {% if mentor.experience == 1 %}
                            {{ mentor.experience }} год опыта
                            {% elif mentor.experience < 5 %}
                            {{ mentor.experience }} года опыта
                            {% else %}
                            {{ mentor.experience }} лет опыта
                            {% endif %}
                            | {{ mentor.utc }}</p>
                        {% if mentor.telegram %}
                        <button class="btn btn-primary">Telegram</button>
                        {% endif %}
                        {% if mentor.whatsapp %}
                        <button class="btn btn-primary">Telegram</button>
                        {% endif %}
                        <button class="btn btn-primary">WhatsApp</button>
                    </div>
                  </div>
                </div>
                <br>
                <p>Большой и разносторонний опыт в области продуктовой разработки. Организация процессов, лучшие практики, System Design, backend разработка, менторство, технические интервью.</p>
                <br>
                <div class="container p-0">
                  <div class="row">
                    <div class="col-5">
                        <ul class="list-group">
                          <li class="list-group-item">Общая консультация</li>
                          <li class="list-group-item">Составить план обучения</li>
                          <li class="list-group-item">Обучение до трудоустройства</li>
                          <li class="list-group-item">Стажировка на реальном проекте</li>
                        </ul>
                    </div>
                    <div class="col">
                        <p><b class="fw-semibold">Направления:</b> Python Backend </p>
                        <p><b class="fw-semibold">Языки:</b> Русский</p>
                        <p><b class="fw-semibold">Оплата:</b> Российская карта, Иностранная карта, PayPal</p>
                        <p><b class="fw-semibold">Опыт оффлайн на страны:</b> </p>
                        <p><b class="fw-semibold">Опыт онлайн на страны:</b> </p>
                    </div>
                  </div>
                </div>
                <br>
                <span class="badge rounded-pill text-bg-primary">Django</span>
                <br><br>

            </div>
            <div class="col">
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Первая консультация 15 мин.</h5>
                    <p class="card-text"></p>
                    <p class="card-text">Бесплатно</p>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Код-ревью</h5>
                    <p class="card-text">Разбор кода вашего проекта. Вы скидываете поект на git-hub и я письменно делаю разбор</p>
                    <p class="card-text">1200 руб. / за 1 проект</p>
                  </div>
                </div>
            </div>
        </div>

{% endblock %}