{% extends 'base.html' %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row align-items-start">
            <div class="col-8">
                <div class="container p-0">
                  <div class="row">
                    <div class="col-3">
                      <img src="{{ mentor.image.url }}" class="img-fluid rounded" height="400" width="400">
                    </div>
                    <div class="col">
                        <h1 class="fs-3">{{ mentor.name|title }} {{ mentor.surname|title }}</h1>
                        <p>{{ mentor.profession }} |
                            {% if mentor.experience == 1 %}
                            {{ mentor.experience }} год опыта
                            {% elif mentor.experience < 5 %}
                            {{ mentor.experience }} года опыта
                            {% else %}
                            {{ mentor.experience }} лет опыта
                            {% endif %}</p>
                        <a href="https://telegram.me/{{ mentor.telegram }}" class="btn btn-sm btn-primary" style="background-color: #28a9eb; border-color: #28a9eb" target="_blank"><i class="bi bi-telegram me-2"></i>Написать в Telegram</a>
                        <br><br>
                        <p class="fs-5">
                            {% if mentor.instagram %}
                            <a href="https://www.instagram.com/{{ mentor.instagram }}" target="_blank" class="text-decoration-none text-reset"><i class="bi bi-instagram"></i></a>
                            {% endif %}
                            {% if mentor.linkedin %}
                            <a href="{{ mentor.linkedin }}" target="_blank" class="text-decoration-none text-reset"><i class="bi bi-linkedin"></i></a>
                            {% endif %}
                            {% if mentor.github %}
                            <a href="{{ mentor.github }}" target="_blank" class="text-decoration-none text-reset"><i class="bi bi-github"></i></a>
                            {% endif %}
                            {% if mentor.behance %}
                            <a href="{{ mentor.behance }}" target="_blank" class="text-decoration-none text-reset"><i class="bi bi-behance"></i></a>
                            {% endif %}
                            {% if mentor.website %}
                            <a href="{{ mentor.website }}" target="_blank" class="text-decoration-none text-reset"><i class="bi bi-box-arrow-up-right"></i></a>
                            {% endif %}
                        </p>
                        {% if avg_rating %}
                        <p> Ср. оценка: {{ avg_rating.rating__avg }} </p>
                        {% endif %}
                    </div>
                  </div>
                </div>
                <br>
                <p>Направления:
                    {% for item in mentor.directions.all %}
                    <span class="badge rounded-pill text-bg-primary">{{ item.title }}</span>
                    {% endfor %}
                </p>
                <p>Могу помочь:
                    {% for item in mentor.topics.all %}
                    <span class="badge rounded-pill text-bg-primary">{{ item.title }}</span>
                    {% endfor %}
                </p>
                <p>Навыки:
                    {% for item in mentor.skills.all %}
                    <span class="badge rounded-pill text-bg-primary">{{ item.title }}</span>
                    {% endfor %}
                </p>
                <p>{{ mentor.about_me }}</p>
                {% if reviews %}
                <h2 class="fs-4">Отзывы:</h2>
                {% endif%}
                {% for review in reviews %}
                <div class="card mb-3 col" >
                    <div class="card-body">
                        <p class="card-text"> Оценка: {{ review.rating }} </p>
                        <p class="card-text">{{ review.text }}</p>
                        <p class="card-text"><small class="text-muted">{{ review.created_at }}, {{ review.author }}</small></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col">
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Консультация 30 минут</h5>
                    <p class="card-text">{{ mentor.cost_30m }} руб.</p>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Консультация 1 час</h5>
                    <p class="card-text">{{ mentor.cost_1h }} руб.</p>
                  </div>
                </div>
            </div>
        </div>

{% endblock %}