{% extends 'base.html' %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}
    <h1 class="pt-5"> Менторы </h1>
    <p class="fs-5 mt-3 align-middle">Публикация менторов бесплатно и без комиссий. <a href="/mentor/new_mentor">Заполнить форму ментора</a> </p>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-3">
                <h5 class="mt-3">Направление:</h5>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                  <option selected>Все</option>
                  <option value="1">Python Developer</option>
                  <option value="2">Java Developer</option>
                  <option value="3">Android Developer</option>
                </select>
                <fieldset>
                    <h5 class="mt-3">Тип вопроса:</h5>
                    <div>
                      <input type="checkbox" id="scales" name="scales" checked>
                      <label for="scales"><small>Карьерная консультация</small></label>
                    </div>
                    <div>
                      <input type="checkbox" id="horns" name="horns">
                      <label for="horns"><small>Сопровождение в учебе</small></label>
                    </div>
                    <div>
                      <input type="checkbox" id="horns" name="horns">
                      <label for="horns"><small>Стажировка на реальном проекте</small></label>
                    </div>
                    <div>
                      <input type="checkbox" id="horns" name="horns">
                      <label for="horns"><small>Тестовое собеседование на английском</small></label>
                    </div>
                </fieldset>
                <fieldset>
                    <h5 class="mt-3">Технологии:</h5>
                    <div>
                      <input type="checkbox" id="scales" name="scales" checked>
                      <label for="scales"><small>Django</small></label>
                    </div>
                    <div>
                      <input type="checkbox" id="horns" name="horns">
                      <label for="horns"><small>FastAPI</small></label>
                    </div>
                </fieldset>
            </div>
            <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Ментор</th>
                      <th scope="col">Должность</th>
                      <th scope="col">Опыт(г.)</th>
                      <th scope="col">30 мин.</th>
                      <th scope="col">1 ч.</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                  {% for mentor in mentors %}
                    <tr>
                      <td><a class="link-offset-2 link-offset-3-hover link-underline
            link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ mentor.get_mentor_url }}">
                          {{ mentor.surname }} {{ mentor.name }}</a></td>
                      <td>{{ mentor.profession }}</td>
                      <td>{{ mentor.experience }}</td>
                      <td>{{ mentor.cost_30m }} руб.</td>
                      <td>{{ mentor.cost_1h }} руб.</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
        </div>
    </div>

{% endblock %}