{% extends 'base.html' %}

{% block title %}
Редактирование данных
{% endblock %}

{% block content %}

    <h1 class="mt-5 mb-5 fs-3">Редактированние данных</h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Ошибка!</strong> Пожалуйста, исправьте следующие ошибки:
            {{ form.errors }}
        </div>
        {% endif %}
        <! -- Имя -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.name.id_for_label }}" class="col-form-label">{{ form.name.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.name }}
            </div>
        </div>
        <br>
        <! -- Фамилия -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.surname.id_for_label }}" class="col-form-label">{{ form.surname.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.surname }}
            </div>
        </div>
        <br>
        <! -- Username -->
        <div class="row g-3 align-items-center" >
            <div class="col-auto col-md-1">
                <label for="{{ form.username.id_for_label }}" class="col-form-label">{{ form.username.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.username }}
            </div>
            <div class="col-auto">
                <span class="form-text">
                    Будет в URL: easyoffer.ru/mentor/username
                </span>
            </div>
        </div>
        <br>
        <! -- Должность -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.description.id_for_label }}" class="col-form-label">{{ form.description.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.description }}
            </div>
            <div class="col-auto">
                <span class="form-text">
                    Можете указать и компанию: "Senior Python Developer в Ozon"
                </span>
            </div>
        </div>
        <br>
        <! -- Опыт в года -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.experience.id_for_label }}" class="col-form-label">{{ form.experience.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.experience }}
            </div>
            <div class="col-auto">
                <span class="form-text">
                    Суммарный релевантный опыт в годах
                </span>
            </div>
        </div>
        <br>
        <! -- Консультация 30 мин -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.cost_30m.id_for_label }}" class="col-form-label">{{ form.cost_30m.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.cost_30m }}
            </div>
            <div class="col-auto">
                <span class="form-text">
                    Стоимость консультации в руб. за 30 минут
                </span>
            </div>
        </div>
        <br>
        <! -- Консультация 1 час -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.cost_1h.id_for_label }}" class="col-form-label">{{ form.cost_1h.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.cost_1h }}
            </div>
            <div class="col-auto">
                <span class="form-text">
                    Стоимость консультации в руб. за 1 час
                </span>
            </div>
            <div class="valid-feedback">
              Looks good!
            </div>
        </div>
        <br>
        <! -- Направление -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.profession.id_for_label }}" class="col-form-label">{{ form.profession.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.profession }}
            </div>
            <div class="col-auto">
                <span class="form-text">
                    В каких разделах отображать?
                </span>
            </div>
        </div>
        <br>
        <! -- Могу помочь -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.topics.id_for_label }}" class="col-form-label">{{ form.topics.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.topics }}
            </div>
        </div>
        <br>
        <! -- Навыки -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.skills.id_for_label }}" class="col-form-label">{{ form.skills.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.skills }}
            </div>
        </div>
        <br>
        <! -- Telegram -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.telegram.id_for_label }}" class="col-form-label">{{ form.telegram.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.telegram }}
            </div>
            <div class="col-auto">
                <span class="form-text">
                    Только username <s>@username</s> / обязательно для заполнения
                </span>
            </div>
        </div>
        <br>
        <! -- Instagram -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.instagram.id_for_label }}" class="col-form-label">{{ form.instagram.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.instagram }}
            </div>
            <div class="col-auto">
                <span class="form-text">
                    Только username <s>@username</s>
                </span>
            </div>
        </div>
        <br>
        <! -- LinkedIn -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.linkedin.id_for_label }}" class="col-form-label">{{ form.linkedin.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.linkedin }}
            </div>
            <div class="col-auto">
                <span class="form-text">
                    Ссылка на профиль
                </span>
            </div>
        </div>
        <br>
        <! -- Github -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.github.id_for_label }}" class="col-form-label">{{ form.github.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.github }}
            </div>
            <div class="col-auto">
                <span class="form-text">
                    Ссылка на профиль
                </span>
            </div>
        </div>
        <br>
        <! -- Behance -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.behance.id_for_label }}" class="col-form-label">{{ form.behance.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.behance }}
            </div>
            <div class="col-auto">
                <span class="form-text">
                    Ссылка на профиль
                </span>
            </div>
        </div>
        <br>
        <! -- Личный сайт -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.website.id_for_label }}" class="col-form-label">{{ form.website.label }}</label>
            </div>
            <div class="col-auto col-sm-3">
                {{ form.website }}
            </div>
            <div class="col-auto">
                <span class="form-text">
                    Личный сайт / Блог / Портфолио
                </span>
            </div>
        </div>
        <br>
        <! -- Файл -->
        <div class="row g-3 align-items-center">
            <div class="col-auto col-md-1">
                <label for="{{ form.image.id_for_label }}" class="col-form-label">Фото:</label>
            </div>
            <div class="col-auto col-sm-3">
              {{ form.image }}
            </div>
            <div class="col-auto">
                <span class="form-text">
                    Желательно квадратная картиника от 200x200
                </span>
            </div>
        </div>
        <br>
        <! -- О себе -->
        <div class="row g-3 align-items-center">
            <div class="mb-3">
                <label for="{{ form.about_me.id_for_label }}" class="form-label">{{ form.about_me.label }}</label>
                {{ form.about_me }}
            </div>
        </div>
        <br>
        <! -- Опубликовать -->
        <div class="form-check">
          <label class="form-check-label" for="{{ form.public.id_for_label }}">{{ form.public.label }}</label>
            {{ form.public }}
        </div>
        <br>
        <button class="btn btn-primary mt-3 mb-3" type="submit" value="Submit">Сохранить</button>
    </form>
{% endblock %}