{% extends 'base.html' %}

{% block title %}
Вход в аккаунт
{% endblock %}

{% block content %}
    <h1 class="mt-5 fs-3"> Логин </h1>
    {% if form.errors %}
    <p>{{ form.errors.error }}</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><button type="submit" class="btn btn-primary"> Войти </button>
<!--            <a href="{% url 'password_reset' %}">Забыл пароль</a>-->
        </p>
    </form>

{% endblock %}