{% extends 'base.html' %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}

    <h1 class="mt-5 fs-3"> Требования на должность {{ search.profession }}</h1>
    <p class="fs-6 mt-3 mb-5">Анализ проведен {{ search.last_update}}, сотавлен на основе <a href="{{ search.url }}">поискового запороса.</a> Число вакансий: {{ search.amount_vacancies }}</p>
        <div class="row">
            <div class="col-2">
                <form action="" method="get">
                    <p>Направление:</p>
                    <select class="form-select form-select" aria-label=".form-select-sm example" name="title">
                        <option selected>{{ search.title }}</option>
                        {% for search in search_all %}
                      <option  value="{{ search.title }}">{{ search.title }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary btn-sm mt-3">Применить</button>
                </form>
            </div>
            <div class="col">
                <p><b>Навыки</b> – из раздела "навыки" в вакансиях на HeadHuner</p>
                <table class="table table-sm table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th>Навык</th>
                            <th>Упоминаний</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for skill in skills %}
                        <tr>
                            <td>{{ skill.title }}</td>
                            <td>{{ skill.amount }}</td>
                        </tr>
                        {% endfor  %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <p><b>Ключевые слова</b> – из описаний вакансий на HeadHuner</p>
                <table class="table table-sm table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th>Ключевое слово</th>
                            <th>Упоминаний</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for keyword in keywords %}
                        <tr>
                            <td>{{ keyword.title }}</td>
                            <td>{{ keyword.amount }}</td>
                        </tr>
                        {% endfor  %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}